<%- include('partials/header.ejs'); -%>

<h1>Home</h1>
<p><%= homeContent %></p>
  <% posts.forEach(function(post){ %>

      <h1><%=post.title%></h1>
      <p><%=post.content.slice(0,101)%>
        <%  if (post.content.length>100) {%>
          ...<a href="/posts/<%=post._id%>">Read More</a>
          <% }%>
      </p>

  <% })  %>

  <a href="/compose" class="float">
    <i class="fa fa-plus my-float" style="font-size:20px"></i>
    </a>

<%- include('partials/footer.ejs'); -%>
